

<h1>Welcome to the Admin Dashboard</h1>
<p>Below you will find some helpful information about your store click on your counts to go to the respective page!</p>
<div >
<h1 class="alert alert-warning">Your Total Count of Products is: <%=link_to @product_count, [:admin, :products]%></h1>
</div>
<div >
<h1 class="alert alert-warning">Your Total Count of Categories is: <%=link_to @category_count, [:admin, :products]%></h1>
</div>